body {
	font-family: Georgia;
	font-size:12px;
}

.container
{
    margin: 0px;
	padding: 0px;
    width: 940px;
    height: 600px;
	top:0px;
	left: 0px;
    position:absolute;
    background-color: #fff;
	
	overflow: hidden;
}

#splash {
	position:absolute;
	 margin: 0px;
	padding: 0px;
    width: 940px;
    height: 500px;
	top:100px;
	left: 0px;
	background-color: #fff;
	z-index: 9999990;
	background-image:url('../images/londonfriezex53.gif');
	background-repeat: no-repeat;
	background-position: 0px 447px;
}

#splash-image {
	position:absolute;
	right: 0px;
	top: -70px;
	width: 730px;
	height: 416px;
	background-image:url('../images/splash-cogs.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#splashText {
	position: absolute;
	top: 190px;
	left: 0px;
	width: 400px;
}

#splashText h3 {
	font-size: 24px;
	font-weight: normal;
	color: #333;
}

#splashText p {
	font-size: 18px;
	font-weight: normal;
	color: #999;
}

#aboutYouPage {
	position:absolute;
	 margin: 0px;
	padding: 0px;
    width: 940px;
    height: 600px;
	top:0px;
	left: 940px;
	background-color: #fff;
	z-index: 10000;
}

#questionHolder {
	position:absolute;
	 margin: 0px;
	padding: 0px;
    width: 940px;
    height: 600px;
	top:0px;
	left: 0px;
	z-index: 10000;
}

.questionPage {
	position:absolute;
	 margin: 0px;
	padding: 0px;
    width: 940px;
    height: 600px;
	top:0px;
	left: 940px;
}


#results {
	position:absolute;
	margin: 0px;
	padding: 0px;
    width: 940px;
    height: 600px;
	top: 0px;
	left: 940px;
	background-color: #fff;
	z-index: 888889;
	background-image:url('../images/londonfriezex53.gif');
	background-repeat: no-repeat;
	background-position: 0px 547px;
}

#mayor-face {
	position:absolute;
	 margin: 0px;
	padding: 0px;
    width: 350px;
    height: 350px;
	top:100px;
	left: 50px;
	background-color: #fff;
}


.click-button {
	position: absolute;
	display: block;
	background-color: #ccc;
	font-family: Arial;
	color:#333;
	padding: 4px 10px 4px 10px;
	cursor: pointer;
	font-size: 14px;
}


.click-button:hover {
	background-color: #666;
	color:#fff;
}


.select-button {
	float: left;
	display: block;
	
	padding: 4px 10px 4px 10px;
	cursor: pointer;
	font-size: 16px;
	margin-right: 10px;
}



.filterselect {
	background-color: #F9930C;
	color:#fff;
}

.filterdeselect {
	background-color: #ccc;
	color:#333;
}

#filterButtons {
	position: absolute;
	top: 362px;
	right:0px;
}

.filterSet {
	float: left;
	margin-right: 20px;
}

#changeArea {
	position: absolute;
	top: 5px;
	left:-115px;
	font-size: 18px;
}

.click-button-georgia {
	position: absolute;
	display: block;
	font-family: Georgia;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: #5e5f62;
}

#splash-results-button {
	bottom: 80px;
	right: 50px;
	width: 267px;
	position: absolute;
	display: block;
	font-family: Georgia;
	cursor: pointer;
	font-weight: normal;
	font-size: 18px;
	color: #5e5f62;
	background-image:url('../images/grey-chevron.png');
	background-repeat: no-repeat;
	background-position: 255px 5px;
}

#splash-results-button:hover {
	text-decoration: underline;
}

#take-the-test-button {
	position: absolute;
	display: block;
	bottom: 120px;
	right: 50px;
	width: 135px;
	background-color: #F9930C;
	color: #fff;
	padding: 4px 10px 4px 10px;
	cursor: pointer;
	font-size: 20px;
	background-image:url('../images/white-chevron.png');
	background-repeat: no-repeat;
	background-position: 130px 8px;
}

#take-the-test-button:hover {
	background-color: #666;
}

.header
{
	display: block;
	position:absolute;
	top: 0px;
	left: 0px;
	width:940px;
	height: 100px;
	z-index: 99999999;
}

.header #main-heading {
	position: absolute;
	top: 0px;
	left:0px;
	width: 930px;
	height: 50px;
	font-family:Georgia;
	font-weight: normal;
	color: #fff;
	background-color: #cac8b2;
	padding: 10px 0 0 10px;
	margin:0px;
	font-size: 30px;
	
}

.header #category-heading {
	position: absolute;
	top: 0px;
	right:10px;
	width: 930px;
	height: 50px;
	font-family:Georgia;
	font-weight: normal;
	color: #666;
	text-align: right;
	padding: 10px 0 0 10px;
	margin:0px;
	font-size: 30px;
	
}

.sub-header {
	position: absolute;
	top: 80px;
	left:0px;
	width: 940px;
	height: 48px;
	font-family:Georgia;
	font-weight: normal;
	color: #5e5f62;
	margin:0px;
	font-size: 16px;
	border-bottom: 1px solid #f5f5f5;
	line-height: 30px;
	
}

.q-box {
	display: block;
	position: absolute;
	height: 30px;
	font-family:Georgia;
	font-weight: normal;
	color: #5e5f62;
	background-color: #f1efe8;
	margin:0px;
	font-size: 18px;
	text-indent: 10px;
	line-height: 27px;
}

.nav {
	display: block;
	height: 30px;
	font-family:Georgia;
	font-weight: normal;
	color: #999999;
	background-color: #f1efe8;
	margin:0px;
	font-size: 16px;
	padding: 0 10px 0 10px;
	border-right: 1px solid #fff;
	cursor: pointer;
	float:left;
	line-height: 27px;
}

#infoNavs {
	width: 470px;
	height: 30px;
	background-image:url('../images/nav-background.gif');
	background-repeat:repeat-x;
}


.navselect {
	background-color: #cac8b2;
	color: #fff;
}

.navdeselect {
	background-color: #f1efe8;
	color: #999999;
}



#which-mayor {
	width: 375px;
}

#whereabouts {
	width: 540px;
}

.header #question-counter {
	font-family:Georgia;
	font-weight: normal;
	color: #666;
	padding: 10px 0 0 0;
	margin:0px;
	font-size: 24px;
	position:absolute;
	right:0px;
}


.footer
{
	display: block;
	position:absolute;
	bottom: 0px;
	left: 0px;
	width:940px;
	height: 40px;
	z-index: 888888;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

#next-button {
	right: 10px;
	top: 7px;
	width: 60px;
	background-image:url('../images/grey-chevron.png');
	background-repeat: no-repeat;
	background-position: 49px 5px;
}

#mayorSet {
	position: absolute;
	top: 140px;
	left:0px;
	width:375px;
	height:400px;
}

.mayor-button {
	
	position: absolute;
	display: block;
	left:32px;
	width: 300px;
	height: 62px;
	
	cursor: pointer;
	font-family: Georgia;
	font-size: 24px;
	color: #666;
	text-indent: 10px;
	line-height: 60px;
	
	background-image:url('../images/tick.png');
	background-repeat: no-repeat;
	background-position: 400px 0px;
	
}

.mayor-button:hover {
	background-color: #f1efe8;
}


.mayor-button img {
	width: 62px;
	height: 62px;
	float: left;
}


#mayor-button_0 {
	top: 46px;
	
}

#mayor-button_1 {
	top: 121px;
	
	
}

#mayor-button_2 {
	top: 196px;
	
}

#mayor-button_3 {
	top: 271px;
	
}

#mayor-button_4 {
	top: 346px;
	
}

.direction-button {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#locationSet {
	position: absolute;
	top: 140px;
	left:400px;
	width:600px;
	height:500px;
}

#direction-button_0 {
	top: 85px;
	left: 110px;
}

#direction-button_1 {
	top: 295px;
	left: 110px;
}

#direction-button_2 {
	top: 190px;
	left: 5px;
}

#direction-button_3 {
	top: 190px;
	left: 213px;
}

#innerOuterSet {
	position: absolute;
	top: 100px;
	left:600px;
	width:300px;
	height:500px;
}

#innerOuter-button_0 {
	position: absolute;
	top: 103px;
	left: 318px;
	width: 195px;
	height:195px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	cursor: pointer;

}

#innerOuter-button_1 {
	position: absolute;
	top: 154px;
	left: 367px;
	width: 100px;
	height:100px;
	cursor: pointer;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	
}


.which-statement {
	position: absolute;
	font-family:Georgia;
	font-weight: normal;
	color: #666;
	font-size: 18px;
	top: 70px;
	left: 70px;
}

#explainer {
	font-family: Georgia;
	font-size: 16px;
	position: absolute;
	top: 370px;
	left: 60px;
	color: #666;
}

.statement {
	display: block;
	width: 310px;
	height: 140px;
	position: absolute;
	font-family:Georgia;
	font-weight: normal;
	color: #666;
	padding: 20px 20px 20px 60px;
	margin:0px;
	font-size: 16px;
	cursor: pointer;
	background-image:url('../images/whitetick.png');
	background-repeat: no-repeat;
	background-position: -100px -100px;
	
}

.statement:hover {
	background-color: #F9930C;
	color: #fff;
	
}

.orangeColor {
	color: #F9930C;
}

.statementLetter {
	position: absolute;
	font-family:Georgia;
	font-weight: bold;
	font-size: 30px;
	top: 15px;
	left: 15px;
}

.statementselect {
	background-color: #F9930C;
	color: #fff;
	background-position: 310px 105px;
}

.statementdeselect {
	background-color: #f1efe8;
	
}

.directionselect {
	background-image:url('../images/directionorange.gif');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.directiondeselect {
	background-image:url('../images/directiongrey.gif');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.select {
	background-color: #999;
	color: #fff;
}

.deselect {
	background-color: #ddd;
}

.statement-topleft {
	top: 150px;
	left: 70px;
}

.statement-topright {
	top: 150px;
	right: 70px;
}

.statement-bottomleft {
	top: 350px;
	left: 70px;
}

.statement-bottomright {
	top: 350px;
	right: 70px;
}


.mayorselect {
	background-color: #f1efe8;
	background-position: 235px 0px;
}

.mayordeselect {
	background-color: #fff;
}




#loading {
	font-size: 14px;
	font-family: Arial;
	background-color: #fff;
	height: 460px;
	padding-top: 240px;
	text-align: center;
	width: 940px;
	position: absolute;
	z-index: 999999999;
	left: 0;
	top: 0;
	color: #777;
}

.mayorSlice {
	position: absolute;
	width: 350px;
	height: 350px;
}

#boris {
	background-image:url('../images/boris.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#ken {
	background-image:url('../images/ken.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#brian {
	background-image:url('../images/brian.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#jenny {
	background-image:url('../images/jenny.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.questionSlice {
	position: absolute;
	width: 350px;
	height: 34px;
	border-top: 1px solid #fff;
	cursor: pointer;
}

.questionSlice:hover {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

#shuffle-button {
	top: 464px;
	left: 225px;
}

#question-button {
	top: 464px;
	left: 50px;
}

#reset-button {
	top: 464px;
	left: 342px;
}

#info {
	position:absolute;
	top: 100px;
	left: 450px;
	width: 500px;
	height: 400px;
	font-family:Georgia;
	font-weight: normal;
	font-size: 24px;
	color: #666;
}

#infoHolder {
	position:absolute;
	top: 50px;
}

#infoHolder h3 {
	position:absolute;
	top: 50px;
	font-size: 20px;
}

#infoHolder p {
	font-family: Arial;
	font-size: 14px;
	width: 450px;
}

#compass {
	position: absolute;
	width: 247px;
	height: 247px;
	left: 0px;
	top: 80px;
	background-image:url('../images/compass.gif');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#innerOuterBackground {
	position: absolute;
	width: 202px;
	height: 202px;
	top: 100px;
	left: 315px;
	background-image:url('../images/inner_outer.gif');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.questionNumber {
	display: block;
	width: 20px;
	position: absolute;
	left: -30px;
	text-align: right;
	font-family: Georgia;
	color: #999;
	font-size: 18px;
	line-height: 25px;
}

#share-button {
	position: absolute;
	display: block;
	background-color: #fff;
	width: 230px;
	font-family: Georgia;
	color:#019ad2;
	padding: 4px 10px 4px 10px;
	cursor: pointer;
	font-size: 18px;
	top: 370px;
	left: 200px;
	background-image:url('../images/tweet.gif');
	background-repeat: no-repeat;
	background-position: 180px 0px;
	line-height: 10px;
}

#question-info-holder {
	position: absolute;
	top: 50px;
	z-index: 9999999;
	background-color: #fff;
}

.question-info {
	width: 470px;
	height: 70px;
	background-color: #eee;
	margin-bottom: 10px;
}

.question-info p {
	width: 370px;
	height: 50px;
	padding: 5px;
	font-size: 13px;
	margin: 0px;
}

.question-info-winner p {
	position: absolute;
	left: 5px;
	top: 60px;
	width: 370px;
	height: 50px;
	padding: 0px;
	font-size: 13px;
	margin: 0px;
}

.question-portrait {
	
	float: right;
	margin: 5px 5px 5px 15px;
	width: 60px;
	height: 60px;
}


.question-portrait-winner {
	position: absolute;
	top: 60px;
	right: 5px;
	width: 60px;
	height: 60px;
}

.question-info-winner {
	width: 470px;
	height: 100px;
	background-color: #eee;
	margin-bottom: 10px;
	margin-top: 25px;
}

#winner-heading {
	position: absolute;
	width: 460px;
	height: 20px;
	background-color: #ccc;
	color: #fff;
	font-size: 16px;
	padding: 5px;
}

#question-number {
	
	position: absolute;
	font-size: 16px;
}

#andTheRest {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}

#close-button {
	position: absolute;
	width: 13px;
	height: 14px;
	right: 0px;
	cursor: pointer;
	background-image:url('../images/closeButton_14x13.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#explain-text {
	font-family: Arial;
	font-size: 12px;
	position: absolute;
	top:500px;
	left: 49px;
	width: 350px;
	color: #333;
}

#pollScreener {
	height: 600px;
	padding-top: 235px;
	text-align: center;
	width: 940px;
	position: absolute;
	z-index: 99999999;
	left: 0;
	top: 0;
	color: #777;
	font-family: Arial;
	font-weight: normal;
	z-index: 999999998;
	background-image: url('../images/transwhite.png');
}

#pollWait {
	height: 100px;
	text-align: center;
	width: 280px;
	padding-top: 20px;
	position: absolute;
	z-index: 99999999;
	left: 330px;
	top: 250px;
	color: #777;
	font-family: Arial;
	font-weight: normal;
	background-color: #fff;
	border:1px solid #cccccc;
}

#bubble {
	position: absolute;
	left: 77px;
	top: 50px;
	width: 168px;
	height: 160px;
	background-image:url('../images/bubble.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 999999997;
}

#other-candidates {
	position: absolute;
	top: 23px;
	right: 15px;
	font-family:Arial;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

#other-candidates a {
	text-decoration: none;
	font-weight: bold;
	color: #666;
}

#other-candidates a:hover {
	text-decoration: underline;
}

#other-candidates-popup {
	position: absolute;
	padding: 50px 10px 10px 10px;
	right: 0px;
	top: 60px;
	width:250px;
	height: 140px;
	background-color: #fff;
	font-family: Arial;
	font-size: 12px;
	color: #666;
	border-left: 1px solid #cac8b2;
	border-right: 1px solid #cac8b2;
	border-bottom: 1px solid #cac8b2;
	z-index: 999999996;
}

.other-candidate {
	margin-bottom: 20px;
}

.other-candidate a {
	text-decoration: underline;
	font-weight: bold;
	color: #666;
}

.other-candidate a:hover {
	text-decoration: underline;
}

.other-cand-pic {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 10px;
	
}

#siobhanPic {
	top: 40px;
	background-image:url('../images/siobhan.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#carlosPic {
	top: 90px;
	background-image:url('../images/carlos.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#lawrencePic {
	top: 140px;
	background-image:url('../images/lawrence.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#candi-close {
	position: absolute;
	width: 13px;
	height: 14px;
	right: 10px;
	top: 10px;
	cursor: pointer;
	background-image:url('../images/closeButton_14x13.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}


